.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4375rem;
}

.button {
  height: 3.5rem;
  border-radius: 3.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}