@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local("Inter"), url("../assets/fonts/Inter-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: local("Inter"), url("../assets/fonts/Inter-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local("Inter"), url("../assets/fonts/Inter-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local("Inter"), url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: local("Poppins"),
    url("../assets/fonts/Poppins-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat"),
    url("../assets/fonts/Montserrat-ExtraBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat"),
    url("../assets/fonts/Montserrat-LightItalic.woff") format("woff");
  font-display: swap;
}
