/* hover effects------------------------------------------ */
@media (hover: hover) {
  .header .header__navigation-link:hover,
  .header .header__search-label:hover {
    color: var(--accent-color-hover);
  }
  
  .header .header__contact-link-wrapper:hover {
    background-color: var(--accent-color-hover);
  
    & > .header__contact-link {
      color: var(--secondary-text-color);
    }
  }
  
  .introduction__link-icon:hover {
    transform: scale(1.1);
  }
  
  .about__link-wrapper:hover {
    border-bottom: 1px solid var(--accent-color-hover);
  
    & > .about__link {
      color: var(--accent-color-hover);
      transform: scale(1.1);
    }
  }
  
  .products__card:hover {
    transform: scale(1.05);
  }
  
  .products .products__link-wrapper:hover {
    background-color: var(--secondary-text-color);
    border: 3px solid var(--accent-color);
  
    & > .products__link {
      color: var(--accent-color);
    }
  }
  
  .tips .tips__link-wrapper:hover {
    border: 3px solid var(--link-text-color);
    
    & > .tips__link {
      color: var(--link-text-color);
    }
  }
  
  .articles .articles__card-link:hover {
    font-weight: 700;
  }
  
  .articles .articles__link-wrapper:hover {
    background-color: var(--secondary-text-color);
    border: 3px solid var(--accent-color);
  
    & > .articles__link {
      color: var(--accent-color);
    }
  }
  
  .contacts .contacts__form-input:hover, 
  .contacts .contacts__form-textarea:hover {
    border-bottom: 1px solid var(--text-color);
  
    &::placeholder {
      color: var(--text-color);
    }
  }
  
  .contacts .contacts__form-button:hover {
    background-color: var(--secondary-text-color);
    color: var(--accent-color);
  }
  
  .contacts .contacts__communications-link:hover {
    color: var(--text-color);
  }
  
  .footer .footer__navigation-link:hover {
    color: var(--text-color);
  }
  
  .footer .footer__socials-item:hover {
    transform: scale(1.1);
  }
}

/* active effects----------------------------------------- */
.header .header__navigation-link:active,
.header .header__search-label:active,
.header .header__burger-menu-label:active {
  color: var(--accent-color);
}

.header .header__contact-link-wrapper:active {
  background-color: var(--accent-color);

  & > .header__contact-link {
    color: var(--secondary-text-color);
  }
}

.introduction__link-icon:active,
.products__card:active {
  transform: scale(1);
}

.about__link-wrapper:active {
  border-bottom: 1px solid var(--tetriary-text-color);

  & > .about__link {
    color: var(--tetriary-text-color);
    transform: scale(1);
  }
}

.products .products__link-wrapper:active {
  background-color: var(--secondary-text-color);
  border: 3px solid var(--accent-color-hover);

  & > .products__link {
    color: var(--accent-color-hover);
  }
}

.tips .tips__link-wrapper:active {
  border: 3px solid var(--accent-color-hover);
  
  & > .tips__link {
    color: var(--accent-color-hover);
  }
}

.articles .articles__card-link:active {
  font-weight: 400;
  color: var(--accent-color);
}

.articles .articles__link-wrapper:active {
  background-color: var(--secondary-text-color);
  border: 3px solid var(--accent-color-hover);

  & > .articles__link {
    color: var(--accent-color-hover);
  }
}

.contacts .contacts__form-button:active {
  transform: scale(0.9);
}

.contacts .contacts__communications-link:active {
  color: var(--link-text-color);
}

.footer .footer__navigation-link:active {
  color: var(--link-text-color);
}

.footer .footer__socials-item:active {
  transform: scale(0.9);
}

/* focus effects------------------------------------------ */
.contacts .contacts__form-input:focus, 
.contacts .contacts__form-textarea:focus {
  border-bottom: 1px solid var(--text-color);

  &::placeholder {
    color: var(--text-color);
  }
}

/* keyframes---------------------------------------------- */
@keyframes slideFadeInOut {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideFadeOutIn {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}