:root {
  --bg-color: #f0efee;
  --accent-color: #7f3e41;
  --text-color: #000000;
  --secondary-text-color: #ffffff;
  --tetriary-text-color: #595959;
  --link-text-color: #353535;

  --accent-color-hover: #ae0d15;
}
